@import url(https://fonts.googleapis.com/css?family=Kaushan+Script|Open+Sans|Open+Sans+Condensed:300);

header {
padding:0;
margin:0;
border:0;
background-color:brown;
height: 4rem;
width: 100%;
margin-bottom: 10rem;
}

h1{
  margin:0 auto;
  font-family: 'Kaushan Script';
  text-align: center;
  position: fixed;
  color:white;
  font-size:3rem;
}

#overlay {
  display: none;
  background-color: brown;
  width: 80%;
  height: 80%;
  z-index: 5;
  position: absolute;
  margin:-8rem 10%;
  border-radius: 30px;
  max-width: 1500px;
}

#overlay > h1{
  text-align: center;
  position: absolute;
display: block;
margin: 2rem 30%;
}

#overlay > h3{
  text-align: justify;
  position: absolute;
  font-family: 'Open Sans';
display: block;
margin-top: 20%;
margin-left: 30%;
margin-right: 10%;
color:white;
margin: 30% 13%;
}

#overlay > p {
  position: absolute;
display: block;
left:7px;
top: -43px;
font-family: 'Kaushan Script';
color:white;
font-size: 10rem;
opacity:.8;
margin:0;
}
button{
  display: flex;
  flex-direction: column;
}
.dragon {
  height: 100px;
  width: 200px;
}
body{
  background: url(../images/bg.jpg) no-repeat center center fixed;
}
#overlayclose{
  position:absolute;
  right: 10px;
  top: 10px;
  color: white;
}

div.hexblock{
  border-radius: 1rem;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 700;
    max-width: 700px;
    border: 3px solid white;
    line-height: 5;
    background-color: white;
    margin-bottom: 1rem;
}

div.changingdot{
  height: 2rem;
  float: left;
display: block;
width: 5%;
background-color: gray;
margin: 0 7%;
height: 2rem;
border-radius: 100%;
}

div.changingdot-hidden{
  height: 2rem;
  float: left;
display: block;
width: 5%;
background-color: white;
margin: 0 7%;
height: 2rem;
border-radius: 100%;
}


div.linebreak{
  background-color: white;
  width: 14%;
  height: 2rem;
  margin: 0px 42%;
  border-radius: 0;
}

.outerline{

      border: 1px solid white;
      border-radius: 23px;
      height: 2rem;
      background-color: white;
      padding: 1rem 0;
}

li{
  list-style-type: none;
}

button{
  border-radius: 1rem;
  text-transform: center;
  display: block;
  margin:1rem auto;
  background-color: gray;
color: whitesmoke;
padding:1rem;
}
#resetbutton{
  margin-bottom: 9rem;
}

.twosolidlines > div.lines {
  float: left;
  background-color: white;
  height: 2rem;
  width: 40%;
  border-radius: 25px;
  margin: auto;
}

.lines {
  float: left;
  background-color: gray;
  height: 2rem;
  width: 40%;
  border-radius: 25px;
  margin: auto;
  margin-right:0;
}

.left{
  float: left;
  background-color: gray;
  height: 2rem;
  width: 40%;
  border-radius: 25px;
  margin: auto;
  margin-right:0;
}

.right{
  float: left;
  background-color: gray;
  height: 2rem;
  width: 40%;
  border-radius: 25px;
  margin: auto;
  margin-left: 0;

}

ul {
padding: 0;
}

.lines, div.changingdot{
  background-color: crimson;
}


/*******************************************
*****       Styles for CSS Cube      *******
********************************************/
